<%- include ../includes/header %>
<%- include ../includes/headercsslinks %>
<style>
    .loading {
        position: fixed;
        z-index: 999;
        height: 2em;
        width: 2em;
        overflow: visible;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .loading:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 120%;
        background-color: rgba(68,100,132,0.3);
    }
    .loading:not(:required) {
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
    }
    .loading:not(:required):after {
        content: '';
        display: block;
        font-size: 10px;
        width: 1em;
        height: 1em;
        margin-top: -2em;
        -webkit-animation: spinner 1500ms infinite linear;
        -moz-animation: spinner 1500ms infinite linear;
        -ms-animation: spinner 1500ms infinite linear;
        -o-animation: spinner 1500ms infinite linear;
        animation: spinner 1500ms infinite linear;
        border-radius: 0.5em;
        -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
        box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    }
    @-webkit-keyframes spinner {
        0% {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @-moz-keyframes spinner {
        0% {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @-o-keyframes spinner {
        0% {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @keyframes spinner {
        0% {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

</style>
<link rel="stylesheet" href="css/login.css"/>
<link rel="stylesheet" href="js/chosen/chosen.css">

<%- include ../includes/closingheader %>

<%- include ../includes/navheader %>
<%- include ./partials/propertysearch %>
<div class="row h-100" style="margin-top:0.1em;">
    <%- include ./partials/sideselection %>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-6">
        <form class="ml-3" id="postpropertyform" action="/postanAdvert" method="post" enctype="multipart/form-data">
            <%if(errors.length>0){%>
            <div class="alert alert-danger alert-dismissible" role="alert">
                <%= errors[0].msg%>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <%}%>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="property">Property</label>
                    <select name="property" class="form-control" id="property">
                        <% if(categorylist) { %>
                        <% categorylist.forEach(function(category){ %>
                        <option value="<%= category.Name %>">
                            <%= category.Name %>
                        </option>
                        <% }) %>
                        <% } %>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <div class="">
                        <label for="paymentmode">
                            <div class="form-check-inline ">
                                <label class="form-check-label" for="rent_radio">
                                    <input type="radio" class="form-check-input" id="rent_radio" name="sale_or_rent"
                                           value="rent"
                                           checked>Rent
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label" for="sale_radio">
                                    <input type="radio" class="form-check-input" id="sale_radio" name="sale_or_rent"
                                           value="sale">Sale
                                </label>
                            </div>
                        </label>
                        <select id="paymentmode" name="paymentmode" class="form-control">
                            <option value="Month">Monthly</option>
                            <option value="Day">Daily</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="price">Amount</label>
                    <input type="text" class="form-control" id="price" name="price" placeholder="Amount in Ksh">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputCountry">Location</label>
                    <select name="country" data-placeholder="Choose a Country..." class="chosen-select form-control"
                            tabindex="2"
                            id="inputCountry">
                    </select>
                </div>
                <input id="hidden_latitude" hidden name="latitude">
                <input id="hidden_longitude" hidden name="longitude">
                <input id="hidden_address" hidden name="address">
                <div class="form-group col-md-4">
                    <label for="inputCounty">County</label>
                    <select data-placeholder="Choose a Country..." class="form-control chosen-select" tabindex="2"
                            id="inputCounty">
                        <option value="Nairobi">Nairobi</option>
                        <option value="Mombasa">Mombasa</option>
                        <option value="Kisumu">Kisumu</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputregion">Region</label>
                    <select data-placeholder="Choose a Country..." class="chosen-select form-control" tabindex="2"
                            id="inputregion">
                        <option selected>CBD</option>
                        <option>Kawangware</option>
                        <option>Lavington</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="inputimages">Insert Image</label>
                        <input type="file" name="propertyimage" multiple max="3" class="form-control" id="inputimages"
                               placeholder="Property image">
                    </div>
                    <div id="imagecanvas">

                    </div>
                </div>
                <div class="col-md-6 align-content-end">
                    <label for="mymap">Select location</label>
                    <div id="mymap" style="min-width: 15em;min-height: 15em;"></div>
                    <span id="maplocationtext"></span>
                </div>
            </div>
            <div id="options-holder" class="m-1">
            </div>
            <button type="button" class="btn btn-primary float-right m-1" id="submitform">Post</button>
        </form>

    </div>
    <%- include ./partials/postpropertysidecards %>
</div>

<%- include ../includes/navbottom %>

<%- include ../includes/footerjavascript %>
<script src="js/property.main.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBT-Evo-QUfkHj_oQDi-w0xin2s4qFr7B0&callback=initMap"
        async defer></script>
<script>
    $("#submitform").on("click", function () {
        var formdata = $("#postpropertyform").serializeArray();
        $("#postpropertyform").submit();
        $("#loadingspinner").addClass('loading');
    });


</script>
<script src="js/postproperty.js"></script>
<%- include ../includes/footer %>