<%- include ../includes/header %>
<%- include ../includes/headercsslinks %>
<link rel="stylesheet" href="css/login.css"/>
<link rel="stylesheet" href="js/chosen/chosen.css">
<%- include ../includes/closingheader %>
<%- include ../includes/navheader %>
<%- include ./partials/propertysearch %>
<div class="row h-100" style="margin-top:0.1em;">
    <%- include ./partials/sideselection %>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-6">

        <form class="ml-3" id="postpropertyform" action="/postanAdvert" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="property">Property</label>
                    <select name="property" class="form-control" id="property">
                        <% if(categorytypelist) { %>
                        <% categorytypelist.forEach(function(categorytype){ %>
                        <option value="<%= categorytype.Name %>">
                            <%= categorytype.Name %>
                        </option>
                        <% }) %>
                        <% } %>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <div class="">
                        <label for="paymentmode">
                            <div class="form-check-inline ">
                                <label class="form-check-label" for="rent_radio">
                                    <input type="radio" class="form-check-input" id="rent_radio" name="sale_or_rent"
                                           value="rent"
                                           checked>Rent
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label" for="sale_radio">
                                    <input type="radio" class="form-check-input" id="sale_radio" name="sale_or_rent"
                                           value="sale">Sale
                                </label>
                            </div>
                        </label>
                        <select id="paymentmode" name="paymentmode" class="form-control">
                            <option value="Month">Monthly</option>
                            <option value="Day">Daily</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="price">Amount</label>
                    <input type="text" class="form-control" id="price" name="price" placeholder="Amount in Ksh">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputCountry">Location</label>
                    <select name="country" data-placeholder="Choose a Country..." class="chosen-select form-control"
                            tabindex="2"
                            id="inputCountry">
                    </select>
                </div>
                <input id="hidden_latitude" hidden name="latitude">
                <input id="hidden_longitude" hidden name="longitude">
                <input id="hidden_address" hidden name="address">
                <div class="form-group col-md-4">
                    <label for="inputCounty">County</label>
                    <select data-placeholder="Choose a Country..." class="form-control chosen-select" tabindex="2"
                            id="inputCounty">
                        <option value="Nairobi">Nairobi</option>
                        <option value="Mombasa">Mombasa</option>
                        <option value="Kisumu">Kisumu</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputregion">Region</label>
                    <select data-placeholder="Choose a Country..." class="chosen-select form-control" tabindex="2"
                            id="inputregion">
                        <option selected>CBD</option>
                        <option>Kawangware</option>
                        <option>Lavington</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="inputimages">Insert Image</label>
                        <input type="file" name="propertyimage" multiple max="3" class="form-control" id="inputimages"
                               placeholder="Property image">
                    </div>
                    <div id="imagecanvas">

                    </div>
                </div>
                <div class="col-md-6 align-content-end">
                    <label for="mymap">Select location</label>
                    <div id="mymap" style="min-width: 15em;min-height: 15em;"></div>
                    <span id="maplocationtext"></span>
                </div>
            </div>
            <div id="options-holder" class="m-1">

            </div>

            <button type="button" class="btn btn-primary float-right m-1" id="submitform">Post</button>
        </form>


    </div>
    <%- include ./partials/postpropertysidecards %>

    <div id="loadingspinner">

    </div>

</div>
<%- include ../includes/navbottom %>
<%- include ../includes/footerjavascript %>
<script src="js/property.main.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBT-Evo-QUfkHj_oQDi-w0xin2s4qFr7B0&callback=initMap"
        async defer></script>
<script>
    $("#submitform").on("click", function () {
        var formdata = $("#postpropertyform").serializeArray();
        var loading = "<div class=\"overlay\">loading</div>"

        console.log(formdata)
        $("#postpropertyform").submit();
        $("#loadingspinner").html(loading);
    });


</script>
<script src="js/postproperty.js"></script>
<%- include ../includes/footer %>