<%- include ../includes/header %>
<%- include ../includes/headercsslinks %>
<link rel="stylesheet" href="css/login.css"/>
<%- include ../includes/closingheader %>
<%- include ../includes/navheader %>

<div class="" style="margin-top: -2em;">
    <div class="inner-sm">

        <form role="form" action="/signup" role="form" method="post" class="login-form">

            <% if(errors) { %>
            <% if(errors.length > 0) { %>
            <div class="alert alert-danger" role="alert">
                <ul style="list-style-type: square">
                    <% errors.forEach(function(error){ %>
                    <li>
                        <%= error.msg %>
                    </li>
                    <% }); %>
                </ul>
            </div>

            <% } %>
            <% } %>

            <div class="card card-default">
                <div class="card-body">
                    <div class="form-group">
                        <input type="text" name="Fname" required placeholder="First Name..." class="form-username form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="Lname" required placeholder="Last Name..." class="form-username form-control" >
                    </div>

                    <div class="form-group">
                        <input type="email" name="Email" required placeholder="Email..." class="form-username form-control">
                    </div>

                    <div class="form-group">
                        <input type="text" name="Phone" pattern="[0]{1}[0-9]{9}" required placeholder="Phone..." class="form-username form-control">
                    </div>

                    <div class="form-group">
                        <input type="password" required name="Password" placeholder="Password..." class="form-password form-control" id="password">
                    </div>
                    <div class="form-group">
                        <input type="password" required name="confirmPassword" placeholder="Confirm Password..." class="form-password form-control" id="password">
                    </div>
                    <button type="submit" class="btn btn-block" style="background-color: #721c24">Signup</button><br>
                    <div align="center">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a class="btn " href="/auth/google" role="button" aria-expanded="false"><b><i class="fab fa-google fa-3x" style="color: #c82333"></i></b></a>
                            <a class="btn " href="/auth/facebook" role="button" aria-expanded="false"><b><i class="fab fa-facebook-square fa-3x" style="color: #0c5460"></i></b></a>
                        </div>
                    </div>
                </div>
                <div align="center" class="card-footer">
                    <b>Have an account already</b><br>
                    <a class="btn btn-secondary btn-block" href="/login" role="button" aria-expanded="false"><b>Login</b></a>
                </div>
            </div>
        </form>
    </div>
</div>
<%- include ../includes/navbottom %>
<%- include ../includes/footerjavascript%>
<%- include ../includes/footer %>