<%- include ../includes/header %>
<%- include ../includes/headercsslinks %>
<link rel="stylesheet" href="css/login.css"/>
<%- include ../includes/closingheader %>
<style>
    #upload{
        display:none
    }
</style>
<%- include ../includes/navheader %>
<!--<%- include ./partials/propertysearch %>-->
<%- include ../includes/functions%>
<div class="row h-100" style="margin-top:0.1em;">
    <div class="col-0  col-sm-2 col-md-3 col-lg-3 col-xl-2">
    <div class="card sideselection d-none d-md-block">
        <ul class="list-group accordion list-group-flush border rounded-top border-primary" id="profile-accordion-title">
            <a class="list-group-item d-flex bg-light  justify-content-between align-items-center" id="profile-accordion-1"  data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"type="button" data-toggle="collapse" >
                My Posts
                <span class="float-right"><i class="fas fa-paste"></i></span>
            </a>
                <div id="collapseOne" class="collapse" aria-labelledby="profile-accordion-1" data-parent="#profile-accordion-title">
                    <ul class="list-group list-group-flush">
                        <% if(categorylist) { %>
                        <% categorylist.forEach(function(category){%>
                        <a href="/propertycategory/<%= category.Name%>" class="list-group-item d-flex justify-content-between align-items-center">
                            <%= category.Name%>
                            <span class="badge badge-primary badge-pill"><%= category.Count%></span>
                        </a>
                        <%})%>
                        <%}%>
                    </ul>
                </div>
            <a class="list-group-item d-flex bg-light  justify-content-between align-items-center" id="profile-accordion-2"  data-target="#collapsetwo" aria-expanded="true" aria-controls="collapseOne"type="button" data-toggle="collapse" >
                My Profile<span class="float-right"><i class="fas fa-user"></i></span>
            </a>
                <div id="collapsetwo" class="collapse" aria-labelledby="profile-accordion-2" data-parent="#profile-accordion-title">
                    <ul class="list-group list-group-flush">
                        <a href="/userprofile/userinfo" class="list-group-item d-flex justify-content-between align-items-center">
                            View my profile
                        </a>
                        <a href="" class="list-group-item d-flex justify-content-between align-items-center">
                            Update my profile
                        </a>

                    </ul>
                </div>
        </ul>
    </div>
    </div>

    <div class="col-12 col-sm-10 col-md-9 col-lg-9 col-xl-10">
        <div class="container-fluid">
            <% if(typeof propertylist != 'undefined' ) { %>
            <% propertylist.forEach(function(property){%>
            <div class="row mb-2 ml-1 border border-info">
                <div class="col-3 nopadding ">
                            <img class="" style="max-width: 100%;min-height: 11em;"
                             src="<%=property.ImageUrl[0]%>"
                             alt="Card image cap">

                </div>

                <div class="col-6">
                    <div class="d-flex flex-column">
                        <div class="float-left mb-2">
                            <%if(property.Bedroom !=="Not stated"){%>
                            <span class="float-left mr-1"><i class="fas fa-bed fa-lg"></i>:<%=property.Bedroom%></span>
                            <%}%>
                            <%if(property.Bathroom !=="Not stated"){%>
                            <span class="float-left mr-1"><i class="fas fa-bath fa-lg"></i>:<%=property.Bathroom%></span>
                            <%}%>
                            <%if(property.Parking !=="Not stated"){%>
                            <span class="float-left mr-1"><i class="fas fa-parking fa-lg"></i></span>
                            <%}%>
                            <%if(property.SwimmingPool !=="Not stated"){%>
                            <span class="float-left mr-1"><i class="fas fa-swimmer fa-lg"></i></span>
                            <%}%>
                        </div>
                        <div class="float-left" >
                            <div>Address: <%=property.Address%></div>
                        </div>

                        <div class="d-flex flex-column-reverse align-items-start " style="min-height: 100%;">

                            <div class="mb-auto" >
                                <div>Posted On: <%=property.createdAt.toDateString()%></div>
                            </div>

                            <div class="mb-1" >
                                <div>Description: <%=property.Description%></div>
                            </div>
                        </div>

                    </div>
                </div>
            <div class="col-3">
                    <div class="d-flex float-right flex-column-reverse align-items-start " style="height: 100%;">
                        <div class="bd-highlight align-self-end">
                            <span><i class="far fa-eye-slash fa-lg"></i></span>
                            <span onClick="setModalWithData(<%= JSON.stringify(property)%>)"><i class="fas fa-edit fa-lg"></i></span>
                            <span><i class="fas fa-trash fa-lg"></i></span>
                        </div>
                        <div class="mb-auto">
                            <div class="float-left">Price: <%=property.Price%><%=property.SaleOrNot=="rent"?"/"+property.PaymentMode.substring(0,3):""%></div>
                        </div>
                        <div class="">
                            <div class="float-left">Points: <%=property.points%></div>
                        </div>
                        <div class="">
                            <div class="float-right">Viewed: <%=property.views%> times</div>
                        </div>
                        <div class="">
                            <div class="float-left">Category: <%=property.Category%></div>
                        </div>
                    </div>
            </div>
            </div>
            <%})%>
            <%}%>
            <%if(typeof userprofile != 'undefined'){%>
                        <div class="card">
                            <div class="card-body">
                                <form action="/userprofile/userinfo" method="post" enctype="multipart/form-data" >
                                <div class="row justify-content-center">
                                    <div class="col-2">
                                        <img src="<%=userprofile.Avatar%>" class="rounded float-left" alt="..." style="max-width: 100%;height: auto;">
                                        <input id="upload" type="file" name="profile_photo"/>
                                        <a href="" id="upload_link">Edit Photo</a>​
                                    </div>
                                    <div class="col-md-10 ">
                                        <h4>Your Profile</h4>
                                        <hr>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">

                                            <div class="form-group row">
                                                <label for="username" class="col-4 col-form-label">Profile Name</label>
                                                <div class="col-8">
                                                    <input id="username" name="profile_name" placeholder="Username" class="form-control here" required="required" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="name" class="col-4 col-form-label">First Name</label>
                                                <div class="col-8">
                                                    <input id="name" name="first_name" placeholder="First Name" class="form-control here" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="lastname" class="col-4 col-form-label">Last Name</label>
                                                <div class="col-8">
                                                    <input id="lastname" name="last_name" placeholder="Last Name" class="form-control here" type="text">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="email" class="col-4 col-form-label">Email*</label>
                                                <div class="col-8">
                                                    <input id="email" disabled name="email" class="form-control here" placeholder="<%=userprofile.Email%>">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="website" class="col-4 col-form-label">Website</label>
                                                <div class="col-8">
                                                    <input id="website" name="website" placeholder="website" class="form-control here" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="publicinfo" class="col-4 col-form-label">Public Info</label>
                                                <div class="col-8">
                                                    <textarea id="publicinfo" name="public_info" cols="40" rows="4" class="form-control"></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="offset-4 col-8">
                                                    <button type="submit" class="btn btn-primary">Update My Profile</button>
                                                </div>
                                            </div>

                                    </div>
                                </div>
                                </form>

                            </div>
                        </div>

            <%}%>
        </div>
    </div>
</div>
<%- include ./partials/updatepropertymodal %>
<%- include ../includes/navbottom %>
<%- include ../includes/footerjavascript %>
<script>
    $(function(){
        $("#upload_link").on('click', function(e){
            e.preventDefault();
            $("#upload:hidden").trigger('click');
        });
    });
</script>
<script type="text/javascript">

 function setModalWithData(property) {
     var max=<%- session.user.Points %>;
     console.log(property);
     setMap(property.Location.coordinates);
     var modal=$('#update_property_modal');
     modal.find('#modal_property_id').val(property._id);
     modal.find('#modal_property_type').val(property.Category);
     modal.find('#modal_property_address-1').val(property.Address);
     modal.find('#modal_property_price').val(property.Price);
     modal.find('#modal_property_points').attr("max",property.points+max);
     modal.find('#modal_property_points').val(property.points);
     modal.find('#modal_description').val(property.Description);
     modal.find('#hidden_latitude').val(property.Location.coordinates[0]);
     modal.find('#hidden_longitude').val(property.Location.coordinates[1]);
     modal.modal('show');
 }
 function setMap(cordinates) {
     var center = new google.maps.LatLng(cordinates[0],cordinates[1]);
     var mapcanvas = document.getElementById('address_map');
     var mapoptions = {
         center: center,
         zoom: 15,
         panControl: true,
         zoomControl: true,
         mapTypeControl: true,
         scaleControl: true,
         streetViewControl: true,
         overviewMapControl: true,
         rotateControl: true,
         mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
         navigationControl: true,
         navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
         mapTypeId: google.maps.MapTypeId.ROADMAP
     };
     map = new google.maps.Map(mapcanvas, mapoptions);
     var marker = new google.maps.Marker({
         position: center,
         map: map,
         draggable: true
     });
     google.maps.event.addListener(marker, 'click', function (event) {
         var latitude = parseFloat(event.latLng.lat());
         var longitude = parseFloat(event.latLng.lng());
         $("#hidden_latitude").val(latitude);
         $("#hidden_longitude").val(longitude);
         map.setZoom(15);
         map.setCenter({lat: latitude, lng: longitude});
         var geocoder = new google.maps.Geocoder();
         geocoder.geocode({
             'latLng': event.latLng
         }, function(results, status) {
             if (status == google.maps.GeocoderStatus.OK) {
                 if (results[0]) {
//
                     var address=results[0].formatted_address.split(" ").filter(e=>e!='unnamed').join(" ");
                     $('#modal_property_address-1').val(address);
                 }
             }
         });
     });

 }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBT-Evo-QUfkHj_oQDi-w0xin2s4qFr7B0"></script>
<%- include ../includes/footer %>