<%- include includes/header %>
<%- include includes/headercsslinks %>
<%- include includes/closingheader %>

<div class="container">



    <form action="/imageuploadtest" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input type="file" name="test" class="form-control-file btn" multiple >
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>


</div>

<%- include includes/footerjavascript %>
<%- include includes/footer %>